<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: template (~{:: #home-page-section})}">

<section id="home-page-section">
    <div class="container">
        <div>
            <img th:src="@{/img/bicycle.jpg}" alt="Rowery" style="width: 100%; height: 300px; obejct-fit: cover">
        </div>
        <div style="text-align: center">
            <h2 style="font-size: 2em">Nasz sklep:</h2>
            <p style="font-weight: 300; font-style: italic"> Online Store to sklep internetowy specjalizujący się w sprzedaży rowerów. Oferujemy markowe
                produkty dwóch najbardziej renomowanych polskich producentów. Serdecznie zapraszamy do zapoznania się z naszą ofertą!
                Możlwiość odbioru osobistego pod adresem: Kraków ...  Dane techniczne rowerów zrobić odnośniki do stron producentów!!!
            </p>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: center">
            <a class="btn" href="offer">Koniecznie sprawdź naszą ofertę</a>
        </div>

        <div id="brands">

            <div id="romet"><img th:src="@{/img/romet_logo.jpg}" alt="Romet"></div>
            <div id="kross"><img th:src="@{/img/kross_logo.jpg}" alt="Kross"></div>


        </div>

    </div>
</section>

</html>