<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: template (~{:: #home-page-section})}">

<section id="home-page-section">
    <div class="container">
        <div>
            <img th:src="@{/img/bicycle.jpg}" alt="Rowery" style="width: 100%; height: 300px; obejct-fit: cover">
        </div>
        <div style="text-align: center">
            <h2 style="font-size: 2em">Nasz sklep:</h2>
            <div class="onlinestore">
                <p style="font-weight: 300; font-style: italic; background-color: rgba(255, 255, 255, 0.5)"><strong>Online Store to sklep internetowy specjalizujący się w sprzedaży nowych rowerów. Rowery to nasza pasja!!!
                    Oferujemy markowe produkty dwóch najbardziej renomowanych polskich producentów: ROMET oraz KROSS. Sklep został założony
                    w 2010 roku, a jakość dostarczanego sprzętu zawsze była dla nas priorytetem. Każde zamówienie realizujemy szybko
                    - gwarantujemy, że wysyłka nastąpi maksymalnie do 2 dni roboczych od złożenia przez Ciebie zamówienia. W pudle
                    z rowerem znajdziesz instrukcję montażu przygotowaną z największą staranności, tak aby złożenie roweru nie sprawiło
                    żadnych problemów. Każdą awarie sprzętu możesz zgłosić wysyłając do nas maila na adres: projekt.onlinestore@poczta.pl
                    lub telefonicznie pod nr tel. 111-111-111. Odpowiemy na każde zgłoszenie. Bez obaw nie będziesz musiał rozkręcać i
                    pakować roweru z powrotem do pudła, ponieważ każda naprawa gwarancyjna w okresie 3 lat od zakupu roweru jest realizowana
                    bezpłatnie i to my przysyłamy kuriera, który zadba o odbiór sprzętu wymagającego naprawy. Zapoznaj się z opiniami naszych
                    klientów, a zobaczysz że jakość obsługi klienta jest w naszym sklepie na najwyższym poziomie.
                    Serdecznie zapraszamy do zapoznania się z ofertą sklepu!</strong>
                </p>
            </div>
        <div style="display: flex; flex-direction: row; justify-content: center">
            <a class="btn" href="offer">Koniecznie sprawdź naszą ofertę</a>
        </div>

    </div>
</section>

</html>