<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template(~{:: #opinion-content})}">

<section id="opinion-content">
    <div class="container">
        <h1>Opinie:</h1>
        <hr>
        <table>
            <tr th:each="opinion : ${opinions}">
                <td>
                    <h5 style="text-align: right"
                        th:text="${#dates.format(opinion.createdAt, 'dd-MM-YYYY, HH:mm:ss')}"></h5>
                    <h3 th:text="${opinion.name}"></h3>
                    <h4 th:text="${opinion.opinion}"></h4>
                    <hr>
                </td>
            </tr>

            <tr>
                <td><h2>Dodaj nową opinię</h2>
                </td>
            </tr>
        </table>


        <form method="post" th:object="${newOpinion}">
            <div class="form-row"><input th:field="*{name}" type="text" class="input" placeholder="Nazwa" required
                                         oninvalid="setCustomValidity('Proszę podać imię i nazwisko!')"></input></div>

            <script>
                function sprawdz(f, x) {
                    if (f.value.length > x - 1) {
                        alert("mozesz wpisac tylko " + x + " znakow");
                        f.value = f.value.substring(0, x);
                    }
                }
            </script>
            <div class="form-row">
                <textarea name="pole1" rows="7" cols="20" th:field="*{opinion}" class="input"
                          placeholder="Twoja opinia..." required
                          oninvalid="setCustomValidity('Proszę uzupełnić swoją opinię!')"
                          onkeyup="sprawdz(this, 250)"></textarea>
            </div>
            <div>
                <center>
                    <button class="btn btn-sm" style="width:100%">dodaj</button>
                </center>
            </div>
        </form>
    </div>

    </div>
</section>
</html>